@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/fontawesome.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/whiteboard-semibold.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/thumbprint-light.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-press-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/slab-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-duotone-light.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/sharp-light.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/notdog-duo-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/notdog-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-fill-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-duo-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/jelly-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/etch-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/duotone-light.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/thin.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/solid.css");
@import url("https://site-assets.fontawesome.com/releases/v7.0.0/css/regular.css");
